@model MvcApplication1.Models.Person

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
              @Model.Name
        </div>
    </body>
</html>